#{extends 'main.html' /}
#{set title:'易通讯--修改联系人页' /}

<style type="text/css">
.errordiv{
	color:#c00;
	height: 25px;
	margin-top:10px;
}
</style>
<p>
<center>
<form action="@{ContactC.update()}" method="POST">

<input type="hidden" name="id" value="${contacts?.id}">

&nbsp;&nbsp;联系人：<input type="text" name="contactor_name" value="${contacts?.contactor_name}">
 <div class="errordiv">#{error 'contactor_name'/}</div>
手机号码：<input type="text" name="telphone" value="${contacts?.telphone}">
 <div class="errordiv">#{error 'telphone'/}</div>
&nbsp;&nbsp;备&nbsp;&nbsp;注：<input type="text" name="mark" value="${contacts?.mark}">
 <div class="errordiv">#{error 'mark'/}</div>
<input type="submit" value="提交" class="sub">
</form>
<div class="errordiv">${flash.error}</div>
</center>